<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>阿里云网站ssl证书申请和下载_杨青青个人博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="数字证书现在很多网站都安装了免费版本，阿里云免费的ssl申请可以参考下面的步骤，如果找不到域名管理，可以直接点击证书链接，登录后，再购买。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://www.cax8.com/skin/html/js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
</head>

<body>
    <header>
        <div class="box">
            <div class="clear"></div>
            <nav>
                <ul id="starlist">
                    <li><a href="../index.html">网站首页</a></li>
                    <li><a href="javascript:;">友人链</a></li>
                    <li class="menu"><a href="javascript:;">学无止境</a>
                    </li>
                    <li><a href="javascript:;">我的相册</a></li>
                    <li><a href="javascript:;">视频教程</a></li>
                    <li><a href="javascript:;">关于我</a></li>

                </ul>
                <div id="mnavh">
                    <span class="navicon"></span>
                </div>
                <div class="is-search"> <i></i> </div>
                <div class="search-page">
                    <div class="search_box">
                        <div class="go-left"></div>
                        <div class="search">
                            <form action="javascript:;" method="post" name="searchform" id="searchform">
                                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                                <input name="show" value="title" type="hidden">
                                <input name="tempid" value="1" type="hidden">
                                <select name="tbname">
                  <option value="news">博客</option>
                  <option value="photo">相册</option>
                  <option value="movie">视频</option>
                </select>
                                <input name="Submit" class="input_submit" value="搜索" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <!--search end-->
            </nav>
        </div>
    </header>

    <div class="ph_margin"></div>
    <div class="box">
        <div class="blogs_info_page">
            <div class="weizhi">当前位置：<a href="javascript:;">首页</a>&nbsp;>&nbsp;<a href="javascript:;">网站建设</a>
            </div>
            <article>
                <h1>阿里云网站ssl证书申请和下载</h1>
                <div class="wz_info"> <span>作者：<a
              href="javascript:;">杨青青</a>
          </span><span>时间：2021-11-26</span> <span>阅读数：
            <script src=https://www.cax8.com/e/public/ViewClick/?classid=8&id=272&addclick=1></script>人阅读
          </span></div>
                <div class="content">
                    <p>数字证书现在很多网站都安装了免费版本，阿里云免费的ssl申请可以参考下面的步骤，如果找不到域名管理，可以直接点击<strong><u><a
                  href="javascript:;"><span
                    style="color:#3399ff;">证书链接</span></a></u></strong>，登录后，再购买。</p>
                    <p>现在阿里云的一个账号只允许申请20个证书，所以，步骤比之前的要稍微绕一点，没关系，跟着下面的步骤来：</p>
                    <p><strong>1、选择&ldquo;选购SSL证书&rdquo;</strong></p>
                    <p>
                        <a href="javascript:;"><img alt="" src="https://www.cax8.com/d/file/p/955eb7c986a008c580e9e6bcbc4d4cd2.png" style="width: 706px; height: 393px;" /></a>
                    </p>
                    <p><strong>2、数量20是免费的，其他是收费的。</strong></p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/f16d103e6e1d991dcd011158bb80e1f1.png" style="width: 1118px; height: 780px;" />
                    </p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/4cd8b05ddfe1a71916225ed82a7e619c.png" style="width: 1264px; height: 745px;" />
                    </p>
                    <p><strong>3、支付成功后，登录管理控制台</strong></p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/4cd8b05ddfe1a71916225ed82a7e619c.png" style="width: 395px; height: 269px;" />
                    </p>
                    <p><strong>4、点击创建证书</strong></p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/890e89ec38134c5be9fdc18a937afd71.png" style="width: 549px; height: 403px;" /><br /><img alt="" src="https://www.cax8.com/d/file/p/f74f39a270801e29afb251188ffc2fc9.png" style="width: 1027px; height: 237px;"
                        /></p>
                    <p><strong>5、证书填写信息，都是必须填写的，域名主域名申请就用www</strong></p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/a22210048a69d54524b8743280d5fdbc.png" style="width: 660px; height: 827px;" /><br /><img alt="" src="https://www.cax8.com/d/file/p/22cf1026740fe01ed3178fabaaf28be4.png" style="width: 668px; height: 835px;"
                        /><br /><img alt="" src="https://www.cax8.com/d/file/p/ee879d46149c61efe5fcd748430a6044.png" style="width: 343px; height: 294px;" /><br /><img alt="" src="https://www.cax8.com/d/file/p/85954af87447dd480f6fabfa740b67e1.png" style="width: 577px; height: 178px;"
                        /></p>
                    <p><strong>6、等着颁发证书</strong><br /><img alt="" src="https://www.cax8.com/d/file/p/201db60e98ee33414114e90c15b84caa.png" style="width: 949px; height: 254px;" /></p>
                    <p>大概有个5分钟左右后，刷新一下页面，出现下载后就可以&ldquo;下载&rdquo;了</p>
                    <p><img alt="" src="https://www.cax8.com/d/file/p/884c09030a5338e1708a0c624e1427b9.png" style="width: 415px; height: 152px;" /><br /><img alt="" src="https://www.cax8.com/d/file/p/e930332a4a630fcc640c4bc8dda1953d.png" style="width: 601px; height: 506px;"
                        /></p>
                    <p>注意：下载下来的证书是pem，key，如果是苹果系统，先改后缀名改成txt，再用记事本打开。</p>
                    <p>如果是装的宝塔，找到网站管理，然后在设置里面把证书装进去就OK啦。</p>
                    <p><br /><img alt="" src="https://www.cax8.com/d/file/p/2477ed4ce66dd4d2fc6f027cec80aae4.png" style="width: 749px; height: 472px;" /><br />&nbsp;</p>
                </div>
                <div class="diggit"> <a href="JavaScript:makeRequest('https://www.cax8.com/e/public/digg/?classid=8&id=272&dotop=1&doajax=1&ajaxarea=diggnum','EchoReturnedText','GET','');">很赞哦！
            (<b id="diggnum">
              <script type="text/javascript"
                src="https://www.cax8.com/e/public/ViewClick/?classid=8&id=272&down=5"></script>
            </b>)</a> </div>
                <div class="share"><span>分享到：</span>
                    <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1620626498424">
                        <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
                        <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                        <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a href="#" class="bds_more" data-cmd="more"></a>
                    </div>
                    <script>
                        window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {
                                    "tsina": ""
                                },
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": ["qzone", "tsina", "weixin", "tqq", "tieba", "douban"],
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "16"
                            },
                            "share": {}
                        };
                        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://www.cax8.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                </div>
                <div class="wz_zhuanzai">
                    <p>本站所有文章、数据、图片均来自互联网,一切版权均归源网站或源作者所有。</p>
                    <p>如果侵犯了你的权益请来信告知我们删除。邮箱：<a href="javascript:;">dacesmiling@qq.com</a></p>
                </div>
                <div class="tags">标签：</div>
                <div class="info-pre-next">
                    <p>上一篇:<a href="javascript:;">企业网站设计中常用的样式——四大优势</a>
                    </p>
                    <p>
                    </p>
                </div>
            </article>
            <!-- 评论 开始 -->
            <div class="pinglun">
                <div class="pl-520am" data-id="272" data-classid="8" data-showhot="0"></div>
                <script type="text/javascript" src="https://www.cax8.com/e/extend/lgyPl/api.js"></script>
            </div>
            <!-- 评论 结束 -->
        </div>
        <aside class="rbox">
            <div class="isgood_news">
                <h2 class="h_title">站长推荐</h2>
                <ul>
                    <li>
                        <a href="javascript:;" title="适合纯小白的个人博客搭建流程"> <i><img
            src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg" alt="适合纯小白的个人博客搭建流程"></i><em>1</em>
                            <p>适合纯小白的个人博客搭建流程</p>
                            <span class="star5"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="我的个人博客之——阿里云空间选择"> <i><img
            src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg" alt="我的个人博客之——阿里云空间选择"></i><em>2</em>
                            <p>我的个人博客之——阿里云空间选择</p>
                            <span class="star5"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">
                            <i><img src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg"
                  alt="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏"></i><em>3</em>
                            <p>【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</p>
                            <span class="star4"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="个人博客网站搭建好了，需要添加百度统计代码吗？"> <i><img
            src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg"
                  alt="个人博客网站搭建好了，需要添加百度统计代码吗？"></i><em>4</em>
                            <p>个人博客网站搭建好了，需要添加百度统计代码吗？</p>
                            <span class="star3"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="个人博客网站是否应该公安备案？"> <i><img
                  src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg"
                  alt="个人博客网站是否应该公安备案？"></i><em>5</em>
                            <p>个人博客网站是否应该公安备案？</p>
                            <span class="star3"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="个人博客如何部署阿里云免费的https安全证书？">
                            <i><img src="https://cdn.pixabay.com/photo/2021/12/23/16/38/animal-6889575__340.jpg"
                  alt="个人博客如何部署阿里云免费的https安全证书？"></i><em>6</em>
                            <p>个人博客如何部署阿里云免费的https安全证书？</p>
                            <span class="star3"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hot_news">
                <h2 class="h_title">人气点击</h2>
                <ol start="1">
                    <li>
                        <a href="javascript:;" title="适合纯小白的个人博客搭建流程">
                            <p>适合纯小白的个人博客搭建流程</p>
                        </a><span>2453</span></li>
                    <li>
                        <a href="javascript:;" title="个人博客如何部署阿里云免费的https安全证书？">
                            <p>个人博客如何部署阿里云免费的https安全证书？</p>
                        </a><span>2016</span></li>
                    <li>
                        <a href="javascript:;" title="如何快速建立自己的个人博客网站">
                            <p>如何快速建立自己的个人博客网站</p>
                        </a><span>1613</span></li>
                    <li>
                        <a href="javascript:;" title="做网站到底需要什么?">
                            <p>做网站到底需要什么?</p>
                        </a><span>1520</span></li>
                    <li>
                        <a href="javascript:;" title="阿里云网站ssl证书申请和下载">
                            <p>阿里云网站ssl证书申请和下载</p>
                        </a><span>1497</span></li>
                    <li>
                        <a href="javascript:;" title="利用google的“自定义搜索”创建网站‘站内搜索’功能">
                            <p>利用google的“自定义搜索”创建网站‘站内搜索’功能</p>
                        </a><span>1283</span></li>
                    <li>
                        <a href="javascript:;" title="个人博客网站是否应该公安备案？">
                            <p>个人博客网站是否应该公安备案？</p>
                        </a><span>1190</span></li>
                    <li>
                        <a href="javascript:;" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">
                            <p>【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</p>
                        </a><span>1091</span></li>
                    <li>
                        <a href="javascript:;" title="自己不会个人博客网站制作，你会选择用什么博客程序源码？">
                            <p>自己不会个人博客网站制作，你会选择用什么博客程序源码？</p>
                        </a><span>1071</span></li>
                    <li>
                        <a href="javascript:;" title="个人博客怎么在阿里云备案？备案流程是什么？">
                            <p>个人博客怎么在阿里云备案？备案流程是什么？</p>
                        </a><span>996</span></li>
                </ol>
            </div>
            <div class="ad_r">
                <a href="javascript:;"><img src="/d/file/p/92ea18fb98d7b4c820249b575b68eb30.png" alt="个人博客模板"></a>
            </div>
            <div class="tagsclous">
                <h2 class="h_title">标签云</h2>
                <ul>
                    <li><a href="javascript:; ">世界杯</a></li>
                    <li><a href="javascript:;">学习心得</a></li>
                    <li><a href="javascript:;">404页面</a></li>
                    <li><a href="javascript:;">科普</a></li>
                    <li><a href="javascript:;">七夕情人节</a></li>
                    <li><a href="javascript:;">直播</a></li>
                    <li><a href="javascript:;">前端</a></li>
                    <li><a href="javascript:;">美好</a></li>
                    <li><a href="javascript:;">幽默</a></li>
                    <li><a href="javascript:;">门户网站模板</a></li>
                    <li><a href="javascript:;">网站</a></li>
                    <li><a href="javascript:;">规则</a></li>
                    <li><a href="javascript:;">办法</a></li>
                    <li><a href="javascript:;">规范</a></li>
                    <li><a href="javascript:;">躲避</a></li>
                    <li><a href="javascript:;">雨</a></li>
                    <li><a href="javascript:;">基础</a></li>
                    <li><a href="javascript:;">边框</a></li>
                    <li><a href="javascript:;">学习</a></li>
                    <li><a href="javascript:;">真实</a></li>
                    <li><a href="javascript:;">复合</a></li>
                    <li><a href="javascript:;">进度</a></li>
                    <li><a href="javascript:;">背叛</a></li>
                    <li><a href="javascript:;">摄影</a></li>
                    <li><a href="javascript:;">主流</a></li>
                    <li><a href="javascript:;">高级</a></li>
                    <li><a href="javascript:;">整理</a></li>
                    <li><a href="javascript:;">趋势</a></li>
                    <li><a href="javascript:;">突破</a></li>
                    <li><a href="javascript:;">生活</a></li>
                </ul>
            </div>
            <div class="emial_box">
                <p>您可以通过以下方式联系我们</p>
                <p>（<b>提议</b>、<b>投诉</b>、<b>合作</b>推荐此方式）</p>
                <p>发送邮件Email到</p>
                <p><a href="javascript:;">dancesmiling@qq.com</a></p>
            </div>
        </aside>
        <div class="clear"></div>
    </div>
    <a href="#" title="返回顶部" class="icon-top"></a>
</body>

</html>